RewriteEngine On

# Redirect semua permintaan ke /home jika tidak ada path lainnya
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^$ /home [R=301,L]

# Redirect semua permintaan ke index.php (untuk routing custom)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
